<h1>Welcome to DBC!</h1>
<form id="form" action="/" method="post">
  <label for="search_term">Search:</label>
  <input type="text" name="search_term" placeholder="Enter your search term here!">
  <input type="submit" name="submit" value="submit">
</form>
<p>This app defaults to a search for restaurants!</p>
<div id="map-canvas" />